.nav-pills{
    font-size: large;
    margin-bottom: 40px;
    padding: 3px;
    border-radius: 10px;
}
.nav-link{
    color: black !important;
}
.m-5{
    display: flex;
    justify-content: center;
    position: relative;
}
.save-on-annual{
    position: absolute;
    bottom: 0;
    font-size: small;
}