{{ $options := dict "method" "GET" }} {{ with resources.GetRemote
$.Site.Params.url }} {{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with
.Content }} {{ with transform.Unmarshal . }}



<h3 class="display-6 text-center mb-4">Free plan limits</h3>

    <div class="table-responsive">
      <table class="table text-center">
        
  
        
        <tbody>
          {{ range first 1 . }}{{ range first 1 .PricingPlans }} {{ range .ProductItemsList }}
          <tr>
            <th scope="row" class="text-start">{{ .Description | markdownify }}</th>

            {{ if eq .ProductItemType "OnOff" }} {{ if or (eq (int .MaxQuantity) 0) }}
            <td>Off</td>
            {{ end }}
            {{ else if eq .ProductItemType "OnOff" }} {{ if or (eq (int .MaxQuantity) 1) }}
            <td>On</td>
            {{ end }}
            {{ else }}
            <td>{{ .MaxQuantity }} {{ .UnitName }}</td>
            {{ end }}
            
            <td></td>
          
          </tr>
          {{ end }} {{ end }} {{ end }}
        </tbody>
        
      </table>
     
    </div>

    <h3 class="display-6 text-center mb-4 mt-4">Premium plan limits</h3>

    <div class="table-responsive">
      <table class="table text-center">
        
  
        
        <tbody>
          {{ range after 1 . }}{{ range first 1 .PricingPlans }} {{ range .ProductItemsList }}
          <tr>
            <th scope="row" class="text-start">{{ .Description | markdownify }}</th>
            {{ if eq .ProductItemType "OnOff" }} {{ if or (eq (int .MaxQuantity) 1) }}
            <td>On</td>
            {{ end }}
            {{ else if eq .ProductItemType "OnOff" }} {{ if or (eq (int .MaxQuantity) 0) }}
            <td>Off</td>
            {{ end }}
            {{ else }}
            <td>{{ .MaxQuantity }} {{ .UnitName }}</td>
            {{ end }}
            <td></td>
          
          </tr>
          {{ end }} {{ end }} {{ end }}
        </tbody>
        
      </table>
     
    </div>







{{ end }}{{ end }} {{ end }} {{ end }}