{{ $options := dict "method" "GET" }} {{ with resources.GetRemote
$.Site.Params.url }} {{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with
.Content }} {{ with transform.Unmarshal . }}



<h3 class="display-6 text-center mb-4">Plan limits</h3>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;" scope="col"></th>
            <th style="width: 22%;" scope="col">Free</th>
            <th style="width: 22%;" scope="col">Premium monthly</th>
            <th style="width: 22%;" scope="col">Premium yearly</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <th scope="row" class="text-start">The maximum number of barcode operations per day</th>
          {{ range $i, $y := . }}{{ range $g, $h := .PricingPlans }}{{ range $k, $l :=  .ProductItemsList }}{{ if eq .IsVisibleOnHostedPage true }}{{ if and (eq $i 0) (eq $g 0) (eq $k 0) }}
          <td> {{ .MaxQuantity }} Operations </td>
          {{end}}
          {{ if and (eq $i 1) (eq $g 0) (eq $k 0) }}
          <td> {{ .MaxQuantity }} Operations </td>
          {{end}}
          {{ if and (eq $i 1) (eq $g 1) (eq $k 0) }}
          <td> {{ .MaxQuantity }} Operations </td>
          {{end}}{{end}}{{end}}{{end}}{{end}}
          </tr>
          <tr>
            <th scope="row" class="text-start">The maximum number of barcode operations per month</th>
            {{ range $i, $y := . }}{{ range $g, $h := .PricingPlans }}{{ range $k, $l :=  .ProductItemsList }}{{ if eq .IsVisibleOnHostedPage true }}{{ if and (eq $i 0) (eq $g 0) (eq $k 1) }}
            <td> {{ .MaxQuantity }} Operations </td>
          {{end}}
          {{ if and (eq $i 1) (eq $g 0) (eq $k 1) }}
          <td> {{ .MaxQuantity }} Operations </td>
          {{end}}
          {{ if and (eq $i 1) (eq $g 1) (eq $k 1) }}
          <td> {{ .MaxQuantity }} Operations </td>
          {{end}}{{end}}{{end}}{{end}}{{end}}
          </tr>
          <tr>
            <th scope="row" class="text-start">Add the company logo to the barcode</th>
            {{ range $i, $y := . }}{{ range $g, $h := .PricingPlans }}{{ range $k, $l :=  .ProductItemsList }}{{ if eq .IsVisibleOnHostedPage true }}{{ if and (eq $i 0) (eq $g 0) (eq $k 2) }}
            {{ if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 0) }}
            <td> <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i> </td>
            {{ else if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 1) }}
            <td> <i class="fa fa-check" aria-hidden="true" style="color: green;"></i> </td>
            {{end}}{{end}}
            {{ if and (eq $i 1) (eq $g 0) (eq $k 2) }}
          {{ if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 0) }}
            <td> <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i> </td>
            {{ else if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 1) }}
            <td> <i class="fa fa-check" aria-hidden="true" style="color: green;"></i> </td>
            {{end}}
          {{end}}
          {{ if and (eq $i 1) (eq $g 1) (eq $k 2) }}
          {{ if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 0) }}
            <td> <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i> </td>
            {{ else if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 1) }}
            <td> <i class="fa fa-check" aria-hidden="true" style="color: green;"></i> </td>
            {{end}}
          {{end}}{{end}}{{end}}{{end}}{{end}}
          </tr>
          <tr>
            <th scope="row" class="text-start">Customize the barcode colors</th>
            {{ range $i, $y := . }}{{ range $g, $h := .PricingPlans }}{{ range $k, $l :=  .ProductItemsList }}{{ if eq .IsVisibleOnHostedPage true }}{{ if and (eq $i 0) (eq $g 0) (eq $k 3) }}
            {{ if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 0) }}
            <td> <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i> </td>
            {{ else if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 1) }}
            <td> <i class="fa fa-check" aria-hidden="true" style="color: green;"></i> </td>
            {{end}}{{end}}
            {{ if and (eq $i 1) (eq $g 0) (eq $k 3) }}
          {{ if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 0) }}
            <td> <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i> </td>
            {{ else if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 1) }}
            <td> <i class="fa fa-check" aria-hidden="true" style="color: green;"></i> </td>
            {{end}}
          {{end}}
          {{ if and (eq $i 1) (eq $g 1) (eq $k 3) }}
          {{ if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 0) }}
            <td> <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i> </td>
            {{ else if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 1) }}
            <td> <i class="fa fa-check" aria-hidden="true" style="color: green;"></i> </td>
            {{end}}
          {{end}}{{end}}{{end}}{{end}}{{end}}
          </tr>
          <tr>
            <th scope="row" class="text-start">Customize the barcode padding</th>
            {{ range $i, $y := . }}{{ range $g, $h := .PricingPlans }}{{ range $k, $l :=  .ProductItemsList }}{{ if eq .IsVisibleOnHostedPage true }}{{ if and (eq $i 0) (eq $g 0) (eq $k 4) }}
            {{ if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 0) }}
            <td> <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i> </td>
            {{ else if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 1) }}
            <td> <i class="fa fa-check" aria-hidden="true" style="color: green;"></i> </td>
            {{end}}{{end}}
            {{ if and (eq $i 1) (eq $g 0) (eq $k 4) }}
          {{ if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 0) }}
            <td> <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i> </td>
            {{ else if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 1) }}
            <td> <i class="fa fa-check" aria-hidden="true" style="color: green;"></i> </td>
            {{end}}
          {{end}}
          {{ if and (eq $i 1) (eq $g 1) (eq $k 4) }}
          {{ if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 0) }}
            <td> <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i> </td>
            {{ else if and (eq .ProductItemType "OnOff") (eq (int .MaxQuantity) 1) }}
            <td> <i class="fa fa-check" aria-hidden="true" style="color: green;"></i> </td>
            {{end}}
          {{end}}{{end}}{{end}}{{end}}{{end}}
          </tr>
        </tbody>
      </table>
    </div>

    








{{ end }}{{ end }} {{ end }} {{ end }}