<div class="table-responsive mt-4">
  <table class="table table-bordered custom-table">
    <thead>
      <tr>
        {{/*
        <th scope="col" class="align-middle text-center">App</th>
        */}}
        <th scope="col" class="align-middle text-center">Service</th>
        <th scope="col" class="align-middle text-center">Free</th>
        <th scope="col" class="align-middle text-center">
          Free <br />(registered users)
        </th>
        <th scope="col" class="align-middle text-center">Premium</th>
        <th scope="col" class="align-middle text-center">Business</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col" class="align-middle text-center" colspan="6" style="background-color: #eff4fa; color: black">
          <a href="https://products.aspose.app/pdf/family" target="_blank">Aspose.PDF Product Family</a>
        </th>
      </tr>
      <!--<th scope="row" rowspan="4" class="align-middle text-center" style="background-color: #b0c4de; color: black">All apps</th>-->
      <tr>
        <td class="align-middle">Uses per day</td>
        <td class="align-middle text-center">2</td>
        <td class="align-middle text-center">4</td>
        <td class="align-middle text-center">Unlimited</td>
        <td class="align-middle text-center">Custom</td>
      </tr>
      <tr>
        <th
          scope="col"
          class="align-middle text-center"
          colspan="6"
          style="background-color: #eff4fa; color: black"
        >
          <a href="https://products.aspose.app/cells/family" target="_blank"
            >Aspose.Cells Product Family</a
          >
        </th>
      </tr>
      <!--<th scope="row" rowspan="4" class="align-middle text-center" style="background-color: #b0c4de; color: black">All apps</th>-->
      <tr>
        <td class="align-middle">Limit: File size limit</td>
        <td class="align-middle text-center">0.5 Mb</td>
        <td class="align-middle text-center">1 Mb</td>
        <td class="align-middle text-center">50 Mb</td>
        <td class="align-middle text-center">Custom</td>
      </tr>
      <tr>
        <td class="align-middle">Limit: Batch process files limit</td>
        <td class="align-middle text-center">5</td>
        <td class="align-middle text-center">10</td>
        <td class="align-middle text-center">50</td>
        <td class="align-middle text-center">Custom</td>
      </tr>
      <tr>
        <td class="align-middle">Limit: Modify output options</td>
        <td class="align-middle text-center"><span title="Feature is not included" class="comp-table__unicodeSymbolX">✗</span></td>
        <td class="align-middle text-center"><span title="Feature is included" class="comp-table__unicodeSymbolCheck">✓</span></td>
        <td class="align-middle text-center"><span title="Feature is included" class="comp-table__unicodeSymbolCheck">✓</span></td>
        <td class="align-middle text-center"><span title="Feature is included" class="comp-table__unicodeSymbolCheck">✓</span></td>
      </tr>
      <tr>
        <th
          scope="col"
          class="align-middle text-center"
          colspan="6"
          style="background-color: #eff4fa; color: black"
        >
          <a href="https://products.aspose.app/barcode/family" target="_blank"
            >Aspose.BarCode Product Family</a
          >
        </th>
      </tr>
      <tr>
        <!--<th scope="row" rowspan="3" class="align-middle text-center" style="background-color: #b0c4de; color: black">Generate</th>-->
        <td>Generate black and white barcodes</td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
      </tr>
      <tr>
        <td>History of generated barcodes</td>
        <td class="align-middle text-center">
          <span
            title="Feature is not included"
            class="comp-table__unicodeSymbolX"
            >✗</span
          >
        </td>
        <td class="align-middle text-center">Limited</td>
        <td class="align-middle text-center">Unlimited</td>
        <td class="align-middle text-center">Unlimited</td>
      </tr>
      <tr>
        <td>Try generate colorful barcodes</td>
        <td class="align-middle text-center">
          <span
            title="Feature is not included"
            class="comp-table__unicodeSymbolX"
            >✗</span
          >
        </td>
        <td class="align-middle text-center">3 per day</td>
        <td class="align-middle text-center">Unlimited</td>
        <td class="align-middle text-center">Unlimited</td>
      </tr>
      <tr>
        <!--<th scope="row" rowspan="2" class="align-middle text-center" style="background-color: #b0c4de; color: black">Recognize</th>-->
        <td>Recognize barcodes</td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
      </tr>
      <tr>
        <td>History of recognized barcodes</td>
        <td class="align-middle text-center">
          <span
            title="Feature is not included"
            class="comp-table__unicodeSymbolX"
            >✗</span
          >
        </td>
        <td class="align-middle text-center">Limited</td>
        <td class="align-middle text-center">Unlimited</td>
        <td class="align-middle text-center">Unlimited</td>
      </tr>
      <tr>
        <!--<th scope="row" class="align-middle text-center" style="background-color: #b0c4de; color: black">Scan</th>-->
        <td>Scan 1D or 2D barcodes</td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
      </tr>
      <tr>
        <!--<th scope="row" class="align-middle text-center" style="background-color: #b0c4de; color: black">Scan QR</th>-->
        <td>Fast scan QR code</td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
      </tr>
      <tr>
        <!--<th scope="row" class="align-middle text-center" style="background-color: #b0c4de; color: black">Wi-Fi QR Generator</th>-->
        <td>Generate Wi-Fi QR code with default logo</td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
        <td class="align-middle text-center">
          <span
            title="Feature is included"
            class="comp-table__unicodeSymbolCheck"
            >✓</span
          >
        </td>
      </tr>
      <tr>
        <th
          scope="col"
          class="align-middle text-center"
          colspan="6"
          style="background-color: #eff4fa; color: black"
        >
          <a href="https://products.aspose.app/ocr/family" target="_blank"
            >Aspose.OCR Product Family</a
          >
        </th>
      </tr>
      <!--<th scope="row" rowspan="4" class="align-middle text-center" style="background-color: #b0c4de; color: black">Convert Image to Text<br>Convert Image to PDF<br>Photo OCR<br>Photo Scanner<br>Document OCR<br>SVG OCR<br>Zonal OCR (and Mobile)<br>Table OCR<br>Scan Receipt<br>Invoice OCR<br>Excel OCR<br>Screenshot OCR<br>Conversion OCR<br>Handwritten OCR<br>Handwritting to PDF</th>-->
      <tr>
        <td class="align-middle">Limit: File size limit per file</td>
        <td class="align-middle text-center">5 Mb</td>
        <td class="align-middle text-center">10 Mb</td>
        <td class="align-middle text-center">50 Mb</td>
        <td class="align-middle text-center">Custom</td>
      </tr>
      <tr>
        <td class="align-middle">
          Limit: Timeout between file uploads\operations
        </td>
        <td class="align-middle text-center">3 minutes</td>
        <td class="align-middle text-center">1 minute</td>
        <td class="align-middle text-center">No timeout</td>
        <td class="align-middle text-center">No timeout</td>
      </tr>
      <tr>
        <td class="align-middle">Limit: Requests amount - per hour</td>
        <td class="align-middle text-center">10</td>
        <td class="align-middle text-center">20</td>
        <td class="align-middle text-center">Unlimited</td>
        <td class="align-middle text-center">Unlimited</td>
      </tr>
      <tr>
        <th
          scope="col"
          class="align-middle text-center"
          colspan="6"
          style="background-color: #eff4fa; color: black"
        >
          <a href="https://products.aspose.app/omr/family" target="_blank"
            >Aspose.OMR Product Family</a
          >
        </th>
      </tr>
      <!--<th scope="row" rowspan="4" class="align-middle text-center" style="background-color: #b0c4de; color: black">All OMR Create and Scan apps</th>-->
      <tr>
        <td class="align-middle">Limit: File size limit per file</td>
        <td class="align-middle text-center">5 Mb</td>
        <td class="align-middle text-center">10 Mb</td>
        <td class="align-middle text-center">50 Mb</td>
        <td class="align-middle text-center">Custom</td>
      </tr>
      <tr>
        <td class="align-middle">
          Limit: Timeout between file uploads\operations
        </td>
        <td class="align-middle text-center">3 minutes</td>
        <td class="align-middle text-center">1 minute</td>
        <td class="align-middle text-center">No timeout</td>
        <td class="align-middle text-center">No timeout</td>
      </tr>
      <tr>
        <td class="align-middle">Limit: Requests amount - per hour</td>
        <td class="align-middle text-center">10</td>
        <td class="align-middle text-center">20</td>
        <td class="align-middle text-center">Unlimited</td>
        <td class="align-middle text-center">Unlimited</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .custom-table th:first-child,
  .custom-table td:first-child {
    width: 24%;
    padding-left: 1em;
  }

  .custom-table th:nth-child(2),
  .custom-table td:nth-child(2) {
    width: 19% !important;
  }

  .custom-table th:nth-child(3),
  .custom-table td:nth-child(3) {
    width: 19% !important;
  }
  .custom-table th:nth-child(4),
  .custom-table td:nth-child(4),
  .custom-table th:nth-child(5),
  .custom-table td:nth-child(5) {
    width: 19% !important;
  }
  .custom-table {
    border-collapse: separate;
    border-spacing: 0 12px;
    margin-bottom: 0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
  }

  .custom-table th,
  .custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }

  .custom-table th {
    background-color: #1a89d0;
    color: #ffffff;
    font-weight: 500;
    border-top: 0;
  }

  .custom-table tbody tr:hover {
    background-color: #f8f9fa;
  }
  .comp-table__unicodeSymbolCheck {
    font-size: 22px;
    font-weight: bold;
  }
  .comp-table__unicodeSymbolX {
    font-size: 22px;
    font-weight: bold;
  }
  .comp-table__unicodeSymbolX {
    color: #808080;
  }
  .comp-table__unicodeSymbolCheck {
    color: #4ac263;
  }
  @media screen and (max-width: 600px) {
    .custom-table {
      font-size: 0.6em;
    }
  }
</style>
